*.suo
*.user
_ReSharper.*
bin
obj
packages
*.cache
*.cache
*.dll

.vscode
.vs
*.wt
*.turtle
Docker/data/db/diagnostic.data/metrics.2021-04-29T04-15-26Z-00000
Docker/data/db/diagnostic.data/metrics.interim
Docker/data/db/journal/WiredTigerLog.0000000001
Docker/data/db/journal/WiredTigerPreplog.0000000001
Docker/data/db/journal/WiredTigerPreplog.0000000002
Docker/data/db/mongod.lock
Docker/data/db/WiredTiger
Docker/data/db/storage.bson
Docker/data/db/WiredTiger.lock
